
.App {
  text-align: left !important;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: flex-start;
  /* height: 100vh; */
}

.App-logo {
  height: 64px;
  pointer-events: none;
  padding: 10px 5px;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #101040;
  /* min-height: 100vh; */
  height: 96px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: gray;
}

.App-link {
  padding: 10px 5px;
  color: #00b7ff;

}

.App-padded {
  padding: 20px 20px;
}

.App-main {

  flex: 1;
  background-color: #204040;
  color: #ffffff;
  
}