
.App {
  text-align: left !important;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: flex-start;
/* height: 100vh; */
}

.App-logo {
  height: 64px;
  pointer-events: none;
  padding: 10px 5px;
}

.App-header {
  background-color: #101040;
  /* min-height: 100vh; */
  height: 96px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: gray;
}

.App-link {
  padding: 10px 5px;
  color: #00b7ff;
}

.App-padded {
  padding: 20px 20px;
}

.App-main {
  flex: 1;
  background-color: #204040;
  color: #ffffff;
}

table {
  border-spacing: 0;
  border: 0; 
  /* border: 1px solid black; */
  width: 100%;
}

tr:hover {
  background-color: #306060;
}

th,
td {
  margin: 0;
  padding: 1px;
  /* border-bottom: 1px solid black; */
  /* border-right: 1px solid black; */
  /* :last-child {
    border-right: 0;
  } */
}

input {
  width: 100%;
}